extends _bootstrap
append styles
	// Custom styles for this template
	link(href='css/blog.css', rel='stylesheet')
	link(href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css', rel='stylesheet')
	block content
		.container
			.blog-header
				h1.blog-title The Laziest Tech Blog
				p.lead.blog-description I'm lazy ! Do it yourself !
			.col-sm-8.blog-main.blog-post
				each post in pagination.files
					post.content-article
						header
							h4.blog-post-title
								a(href='/' + post.path)= post.title
							p.blog-post-meta= post.date
							p.blog-post= post.snippet
