extends _bootstrap
append styles
  // Custom styles for this template
  link(href='css/blog.css', rel='stylesheet')
  link(href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css', rel='stylesheet')
  block content
    .container
      .blog-header
        h1.blog-post-title= title
      .blog-post
        p.blog-post-meta= date
        p.blog-post!= contents

  div#disqus_thread

  script.
    //- Disqus code snippet
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//blakeembrey.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
